/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
  padding: 0 auto;
}

.shortenizer.form input {
  font-size: 16px;
  margin: 0;
  padding: 10px;
}

.shortenizer.form input[type=text] {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background: transparent;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #e62d2d;
  color: #7f898e;
  display: inline-block;
  height: 30px;
  outline: none;
  padding: 10px;
  transition: all 0.3s;
  width: 450px;
}

.shortenizer.form input[type=text]:focus {
  border-color: #d42a2a;
}

.shortenizer.form input[type=submit] {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background-color: #e62d2d;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #e62d2d;
  color: white;
  display: inline-block;
  height: 52px;
  margin-left: -10px;
  outline: none;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.3s;
  width: 130px;
}

.shortenizer.form input[type=submit]:hover, .shortenizer.form .btn-copy:hover {
  background-color: #d42a2a;
}

.shortenizer.form .btn-new, .btn-copy {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border: 1px solid #e62d2d;
  color: white;
  display: inline-block;
  font-size: 16px;
  height: 16px;
  margin-left: -6px;
  outline: none;
  padding: 17px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  width: 90px;
}

.shortenizer.form .btn-new {
  background-color: #7f898e !important;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #7f898e !important;
}

.shortenizer.form .btn-new:hover {
  background-color: #888 !important;
}

.shortenizer.form .btn-copy {
  background-color: #e62d2d !important;
}

.shortenizer.wrapper {
  color: #7f898e;
  font-size: 20px;
  margin-top: 300px;
  text-align: center;
}

.shortenizer.flash-message {
  color: #d42a2a;
  font-size: 16px;
  margin: 0 auto 5px;
  text-align: left;
  width: 600px;
}
